<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
</head>
<style>
    
    .logo{text-align: center;}
    .F-wrap{display: flex; justify-content: center;}
    .wrap{width : 50%; display:flex; flex-direction: column; justify-content: center; align-items: center; border: 2px solid #ddd; }
    

</style>
<body>
    <div class= "logo">
        <a href = "#"><img src="/logo.png" alt=""></a>
    </div>
    <div class = "F-wrap">
        <div class = "wrap">
            <form class = "wrap-form">
                <div class ="sub">
                    <label>
                        <input type="email" placeholder="아이디">
                    </label>
                </div>
                <div class ="sub">
                    <label>
                        <input type ="password" placeholder="비밀번호">
                    </label>
                </div>
                <div class ="lBtn">
                    <label>
                        <input type="submit" value="로그인">
                    </label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>