@charset "UTF-8";

	.logo{text-align: center;}
	.F-wrap{display: flex; justify-content: center; }
	.wrap{width : 50%; display:flex; flex-direction: column; justify-content: center; align-items: center; border: 2px solid #ddd; padding:30px; padding-botton:30px;}
	.lBtn input{width: 100%; height: 40px; color: white; background-color: black;}

	/* signUp */	
	body{font-size:14px; width: 100%;}    
	input{width: 250px; height: 20px; border-radius: 4px;}
	.logo{text-align: center;}
	.signUp-wrap{width:100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}    
	.sub{ display: flex; flex-direction: column; justify-content: space-between; align-items: left; margin-bottom: 10px;}
	.sBtn{height: 50px;}
	.sBtn input{width: 100%; height: 40px; color: white; background-color: black;}
	